<div class="yapper d-flex flex-column p-2 h-100">
  <h1 class="text-center">yapping board</h1>

  <div class="alert alert-info d-flex flex-column flex-sm-row align-items-center justify-content-center gap-2 text-center" role="alert">
    <span>Envie de partager ton fun ? Faire du bruit à plusieurs ?</span>
    <a href="https://etscrap.xyz" class="btn btn-primary btn-sm">
      C'est sur etscrap.xyz
    </a>
  </div>

  @if (currentButtons === null) {
    <div class="d-flex justify-content-center align-items-center flex-grow-1">
      <span class="me-2">Loading sounds womp womp...</span>
      <div class="spinner-grow" role="status">
      </div>
    </div>
  }
  @else {
    <div class="d-flex">
      <div class="col my-3 pb-2">
        <form class="d-flex align-items-center">
          <label for="search" class="form-label m-0">Search:</label>
          <input
            type="search"
            class="form-control w-25 mx-2"
            id="search"
            name="search"
            maxlength="30"
            [(ngModel)]="searchTerm"
            (ngModelChange)="onSearchChange($event)"
          >
        </form>
      </div>
      <div class="col my-3 pb-2 text-end">
        <button class="btn btn-primary" (click)="stopSound()">
          stop sound 
          <i class="bi bi-pause-fill"></i>
        </button>
      </div>
    </div>

    @if (currentButtons.length > 0) {
      <div class="yapper__button-grid p-1">
        @for (button of currentButtons; track button.name; let index = $index) {
          <app-sound-button
            [name]="button.name"
            [sound]="button.sound"
            [color]="button.color"
            (buttonClicked)="playSound(index)"
          ></app-sound-button>
        }
      </div>
    }
    @else {
      <span class="text-center my-3">No sounds found womp womp 😔</span>
    }
  }
</div>
